In [1]:
import requests
import json
import time
import mysql.connector
import pandas as pd

In [2]:
# Configuration values for mysql connection

config = {
    'user': 'root',
    'password': '00001234',
    'host': 'dublinbikescomp30670.c8lbidkpdn4h.us-east-2.rds.amazonaws.com',
    'database': 'dublinbikes',
    'raise_on_warnings': True,
}

cnx = mysql.connector.connect(**config) # ------------------------- Connecting to RDS
cursor = cnx.cursor()                   # ------------------------- Cursor to execute all the queries
# stations = json.loads(response.text)    # ------------------------- Loading JSON Data

In [ ]:
query = ("select A.station_number, A.station_name, A.station_pos_lat, A.station_pos_lon,B.station_status,B.station_total_bike_stands, B.station_available_bikes, B.station_available_bike_stands,DATE_FORMAT(B.station_data_LUD, '%r %d %M %Y') as station_data_LUD from jcdecaux_static_dublin_bikes A, jcdecaux_live_data B where A.station_number=B.station_number ")

In [ ]:
cursor.execute(query)

In [ ]:
colNames = [ x[0] for x in cursor.description]

In [ ]:
rows = cursor.fetchall()

In [ ]:

dump_csv = pd.DataFrame( rows, columns=colNames)

In [ ]:
dump_csv.describe()

In [ ]:
dump_csv.to_csv("JCD_DUMP.csv",index=False)

In [ ]:
query2 = ("Select * from openweathermap_dublin_bikes_dump")
cursor.execute(query2)
names_new = [ x[0] for x in cursor.description]
rows_new = cursor.fetchall()
dump_csv2 = pd.DataFrame( rows_new, columns=names_new)
dump_csv.to_csv("OWM_DUMP.csv",index=False)

In [ ]:
dump_csv2 = pd.DataFrame( rows_new, columns=names_new)
dump_csv2.to_csv("OWM_DUMP.csv",index=False)