In [1]:
import requests
import json
import time
import mysql.connector
import pandas as pd

In [2]:
# Configuration values for mysql connection

config = {
    'user': 'root',
    'password': '00001234',
    'host': 'dublinbikescomp30670.c8lbidkpdn4h.us-east-2.rds.amazonaws.com',
    'database': 'dublinbikes',
    'raise_on_warnings': True,
}

cnx = mysql.connector.connect(**config) # ------------------------- Connecting to RDS
cursor = cnx.cursor()                   # ------------------------- Cursor to execute all the queries
# stations = json.loads(response.text)    # ------------------------- Loading JSON Data

In [3]:
query = ("select * from openweathermap_dublin_bikes_dump where weather_date>=subdate(DATE(now()),7) and weather_date<=DATE(NOW())")
cursor.execute(query)
colNames = [ x[0] for x in cursor.description]
rows = cursor.fetchall()
weather_Data = pd.DataFrame( rows, columns=colNames)
query = ("select * from jcdecaux_dublin_bikes_stations_dump where station_data_LUD>=subdate(DATE(now()),7) and station_data_LUD<=DATE(NOW())")
cursor.execute(query)
colNames = [ x[0] for x in cursor.description]
rows = cursor.fetchall()
jcd_Data = pd.DataFrame( rows, columns=colNames)
cnx.close()

In [8]:
weather_Data['date'] = [d.date() for d in weather_Data['weather_date']]
weather_Data['time'] = [d.time() for d in weather_Data['weather_date']]
jcd_Data['date'] = [d.date() for d in jcd_Data['station_data_LUD']]
jcd_Data['time'] = [d.time() for d in jcd_Data['station_data_LUD']]
weather_Data['dayOfWeek'] = weather_Data.weather_date.dt.dayofweek
jcd_Data['dayOfWeek'] = jcd_Data.station_data_LUD.dt.dayofweek

In [10]:
weather_Data.set_index('weather_date',inplace=True)

In [11]:
jcd_Data.set_index('station_data_LUD',inplace=True)

In [44]:
jcd_Data[jcd_Data.station_number==1].resample('3H').mean()['station_available_bikes']

station_data_LUD
2018-04-12 00:00:00     0.000000
2018-04-12 03:00:00     4.514286
2018-04-12 06:00:00    13.111111
2018-04-12 09:00:00    21.621622
2018-04-12 12:00:00    21.628571
2018-04-12 15:00:00     8.722222
2018-04-12 18:00:00    16.500000
2018-04-12 21:00:00     3.638889
2018-04-13 00:00:00     1.000000
2018-04-13 03:00:00     3.771429
2018-04-13 06:00:00    20.351351
2018-04-13 09:00:00    30.730769
2018-04-13 12:00:00    22.548387
2018-04-13 15:00:00     8.833333
2018-04-13 18:00:00    15.486486
2018-04-13 21:00:00    14.028571
2018-04-14 00:00:00    10.000000
2018-04-14 03:00:00    11.777778
2018-04-14 06:00:00    26.027778
2018-04-14 09:00:00    30.138889
2018-04-14 12:00:00    28.800000
2018-04-14 15:00:00    24.216216
2018-04-14 18:00:00    23.176471
2018-04-14 21:00:00    22.857143
2018-04-15 00:00:00    19.000000
2018-04-15 03:00:00    20.250000
2018-04-15 06:00:00    28.222222
2018-04-15 09:00:00    30.531250
2018-04-15 12:00:00    23.257143
2018-04-15 15:00:00     8.222222
2018-04-15 18:00:00     4.277778
2018-04-15 21:00:00     1.972222
2018-04-16 00:00:00     0.000000
2018-04-16 03:00:00     3.514286
2018-04-16 06:00:00    24.648649
2018-04-16 09:00:00    22.571429
2018-04-16 12:00:00    24.216216
2018-04-16 15:00:00     6.555556
2018-04-16 18:00:00     0.444444
2018-04-16 21:00:00     0.323529
2018-04-17 00:00:00     1.000000
2018-04-17 03:00:00     2.555556
2018-04-17 06:00:00    14.428571
2018-04-17 09:00:00    28.459459
2018-04-17 12:00:00    24.700000
2018-04-17 15:00:00    13.571429
2018-04-17 18:00:00     2.771429
2018-04-17 21:00:00     0.388889
2018-04-18 00:00:00     0.000000
2018-04-18 03:00:00     3.444444
2018-04-18 06:00:00    12.800000
2018-04-18 09:00:00    27.111111
2018-04-18 12:00:00    18.783784
2018-04-18 15:00:00    17.000000
2018-04-18 18:00:00     6.750000
2018-04-18 21:00:00     4.194444
Freq: 3H, Name: station_available_bikes, dtype: float64

In [14]:
new_df

DatetimeIndexResampler [freq=<3 * Hours>, axis=0, closed=left, label=left, convention=start, base=0]

In [21]:
station_nums = jcd_Data['station_number'].unique()

In [48]:
jcd_Data.index[0]

Timestamp('2018-04-12 00:03:51')

In [50]:
df_new = pd.DataFrame()
available_Bikes = []
station = []
index = jcd_Data.index.tolist()

for i in range(jcd_Data.shape[0]):
    available_Bikes.append(jcd_Data[jcd_Data.station_number==i].resample('3H').mean()['station_available_bikes'][i])
    station.append(jcd_Data['station_number'][i])

IndexError: index out of bounds

In [36]:
df_new['station_num'] = station
df_new['available_bikes'] = available_Bikes
df_new['time'] = index

ValueError: Length of values does not match length of index

In [34]:
index = jcd_Data.index.tolist()

In [39]:
len(index)

205056

In [40]:
df_new.shape

(104, 2)

In [67]:
datafr = pd.DataFrame()

In [62]:
for i in

                     station_available_bikes
station_data_LUD
2018-04-12 00:00:00                13.162994
2018-04-12 03:00:00                12.958121
2018-04-12 06:00:00                10.948594
2018-04-12 09:00:00                11.856533
2018-04-12 12:00:00                11.932762
2018-04-12 15:00:00                10.976210
2018-04-12 18:00:00                12.212404
2018-04-12 21:00:00                12.975557
2018-04-13 00:00:00                13.109499
2018-04-13 03:00:00                12.994067
2018-04-13 06:00:00                11.127694
2018-04-13 09:00:00                11.935239
2018-04-13 12:00:00                12.058914
2018-04-13 15:00:00                11.379467
2018-04-13 18:00:00                12.709076
2018-04-13 21:00:00                13.160324
2018-04-14 00:00:00                13.374637
2018-04-14 03:00:00                13.356297
2018-04-14 06:00:00                13.064396
2018-04-14 09:00:00                12.626238
2018-04-14 12:00:00                12.028327
2018-04-14 15:00:00                12.145493
2018-04-14 18:00:00                12.811395
2018-04-14 21:00:00                13.111081
2018-04-15 00:00:00                13.295789
2018-04-15 03:00:00                13.283911
2018-04-15 06:00:00                13.225987
2018-04-15 09:00:00                13.032782
2018-04-15 12:00:00                12.988764
2018-04-15 15:00:00                12.812367
2018-04-15 18:00:00                12.919648
2018-04-15 21:00:00                13.108437
2018-04-16 00:00:00                13.194423
2018-04-16 03:00:00                12.992441
2018-04-16 06:00:00                10.835598
2018-04-16 09:00:00                11.944667
2018-04-16 12:00:00                12.060444
2018-04-16 15:00:00                11.115846
2018-04-16 18:00:00                12.612766
2018-04-16 21:00:00                13.033695
2018-04-17 00:00:00                13.011012
2018-04-17 03:00:00                13.007031
2018-04-17 06:00:00                10.947661
2018-04-17 09:00:00                12.047043
2018-04-17 12:00:00                11.919664
2018-04-17 15:00:00                11.048140
2018-04-17 18:00:00                12.222071
2018-04-17 21:00:00                13.092308
2018-04-18 00:00:00                13.724443
2018-04-18 03:00:00                12.427689
2018-04-18 06:00:00                10.784969
2018-04-18 09:00:00                11.902096
2018-04-18 12:00:00                12.122849
2018-04-18 15:00:00                10.721901
2018-04-18 18:00:00                12.161213
2018-04-18 21:00:00                13.070043